* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    height: 124px;
    border: 1px solid red;
}

.header-box{
    border: 1px solid blue;
    height: 100%;
    display: flex;
}
.main{


}
footer{
   
}
.container{
    height: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}
